<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Bens.Work</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
  <script src="https://unpkg.com/feather-icons"></script>
    <link rel="stylesheet" href="vendor/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="vendor/simple-line-icons/css/simple-line-icons.css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="stylesheets/new-age.min.css" rel="stylesheet">
  </head>
  <body id='home'>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <img src="../images/LiftLogo.png" alt="">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#intro" style='font-weight: bold; font-size: 15px;'>HOME</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" style='font-size: 15px; font-weight: bold' href="#services">SERVICES</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" style='font-size: 15px; font-weight: bold' href="#about">ABOUT US</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" style='font-size: 15px; font-weight: bold' href="#contact">CONTACT</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <canvas  id='introCanvas' style=''>
    </canvas>
    <section class='fade-scroll' display='block' id='intro'>
      <div style='justify-content: center' class="container">
        <div style='justify-content: center;' class="row">
        </div>
        <br>
        <br>
        <br>
        <div>
          <h1 id='title' style='color: #1B1B1E'>
            YOUR
            <br>
            INSIGHTS
          </h1>
          <div style='width: 52vw; border-top: solid; border-color: white;'>
          </div>
          <h1 id='title'>
            DELIVERING
            <br>
            RESULTS
          </h1>
          <h3 id='titleSubTop'>
            MISSION | PROVIDE LIFT<br><br>
          </h3>
          </dir>
        </div>
        <br>
        <div style='justify-content: center' class="row">
          <div class="col-4">
          </div>
        </div>
      </div>
    </section>
    <div style='border-top: solid; border-color: white;'>
    </div>
    <section style='background-color: #42484D;'
class='fade-scroll' display='block' id='services'>
      <div style='justify-content: center' class="container">
        <div style='justify-content: center;' class="row">
        </div>
        <br>
        <br>
        <br>
        <div>
          <h1 id='title' style='color: white'>
            OUR
            <br>
            SERVICES
          </h1>
          <div class='row' id='titleSub2'>
            {{!-- <div class='col'>
              <p>Products</p>
              <ul>
                <li id='titleSub2Sub'>
                  EcoInsights
                </li>
                <li id='titleSub2Sub'>
                  SaturYAY
                </li>
                <li id='titleSub2Sub'>
                  CompACT
                </li>
              </ul>
            </div> --}}
            <div class='col'>
              <p>Consulting</p>
              <ul>
                <li id='titleSub2Sub'>
                  We specialize in data visualization, data manipulation, and automation.
                </li>
              </ul>
            </div>
            <div class='col'>
              <p>Hosting</p>
              <ul>
                <li id='titleSub2Sub'>
                  Custom BI Platform to present your analytics.
                </li>
              </ul>
            </div>
            <div class='col'>
              <p>Full Stack Web Development</p>
              <ul>
                <li id='titleSub2Sub'>
                  Build quick and effective websites.
                </li>
                <li id='titleSub2Sub'>
                  Website hosting.
                </li>
              </ul>
            </div>
          </div>
          <div href='#webdev' style='justify-content: center;' class='row'>
              <span class="fa-stack fa-3x">
                <i  class="fa fa-chevron-down fa-stack-1x"></i>
              </span>
          </div>
        </div>
        <br>
        <div style='justify-content: center' class="row">
          <div class="col-4">
          </div>
        </div>
      </div>
    </section>
    <div style='border-top: solid; border-color: white;'>
    </div>
    <section class='fade-scroll' display='block' id='about'>
      <div style='justify-content: center' class="container">
        <div style='justify-content: center;' class="row">
        </div>
        <br>
        <br>
        <br> 
        <div>
          <h1 id='title' style='color: #1B1B1E'>
            TEAM LIFT
          </h1>
          <div style='width: 52vw; border-top: solid; border-color: white;'>
          </div>
          <h1 id='title'>
            WHO WE ARE
          </h1>
          </dir>
        </div>
        <br>
        <div class='row'>
          <div class="col">
            <div class='row'>
              <div class="col">
                {{!-- <img style='height: 300px' src='../images/BenStatue.png'> --}}
              </div>
              <div style='color: white'class="col">
                <p style='font-weight: bold'>
                  Ben Newell, MBA
                </p>
                <p style='font-weight: bold; color: #1B1B1E'>  
                  President / Product Development
                </p>
                <p>
                  Ben completed his MBA at Rockhurst University (AACSB). He has focused his time and effort on Business Intelligence. Acquiring  best practices from two  well known entities in Kansas City.
                </p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class='row'>
              <div class="col">
                {{!-- <img src='../images/zach.PNG'> --}}
              </div>
              <div style='color: white'class="col">
                <p style='font-weight: bold'>
                  Zach Newell, MBA
                </p>
                <p style='font-weight: bold; color: #1B1B1E'>   
                  VP of Automation
                </p>
                <p>
                  Zach brings a sound VBA and BI background to the team with over 4 years of dashboard development and automation experience. He also completed his MBA at Rockhurst University (AACSB).
                </p>
              </div>
            </div>
          </div>
          
        </div>
        <div style='justify-content: center' class="row">
          <div class="col-4">
          </div>
        </div>
      </div>
    </section>
    <div style='border-top: solid; border-color: white;'>
    </div>
    <footer>     
      <div class="container">
        <p>&copy; Created by Lift LLC. All Rights Reserved.</p>
        <p>Address: 905 McGee St. #289, Kansas City, MO 64106</p>
        <p>Phone: (913) 297-9239</p>
        <ul class="list-inline list-social">
          <li class="list-inline-item social-twitter">
            <a href="#">
              <i class="fa fa-twitter"></i>
            </a>
          </li>
          <li class="list-inline-item social-facebook">
            <a href="#">
              <i class="fa fa-facebook"></i>
            </a>
          </li>
          <li class="list-inline-item social-google-plus">
            <a href="#">
              <i class="fa fa-google-plus"></i>
            </a>
          </li>
        </ul>
      </div>
    </footer>


    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="javascripts/new-age.min.js"></script>
    <script src="javascripts/canvas.js"></script>
    <script src="javascripts/fullStackCanvas.js"></script>
    {{!-- <script src="javascripts/getImages.js"></script> --}}

    <!-- Check images before project page gets rendered! -->
    <script>
      feather.replace()
    </script>
    <script class="js">
    </script>
  </body>

</html>

{{!-- Save for refrence --}}

    {{!-- <header class="masthead">
      <div class="container h-100">
        <div class="row h-100">
          <div class="col-lg-7 my-auto">
            <div class="header-content mx-auto"> --}}
              {{!-- <img class="img-circle" src="https://media.licdn.com/dms/image/C5603AQH3bf6tVzfzDA/profile-displayphoto-shrink_200_200/0?e=1535587200&v=beta&t=Uu8k1tREG6TC4vTSwdXqjckCXa0Jp49KqSpe00IFujU" alt=""></img>
              <div class="social">
                <br>
                <a style='color: rgba(246, 248, 250, 0.644)' href="https://www.linkedin.com/in/ben-newell-mba/"><i id="linkedin" class="fa fa-3x fa-linkedin"></i></a>
                <a style='color: rgba(246, 248, 250, 0.644)' href="https://github.com/BenNewell32"><i id="github" class="fa fa-3x fa-github"></i></a>
                <a style='color: rgba(246, 248, 250, 0.644)' href=""><i id="twitter" class="fa fa-3x fa-twitch"></i></a>
                <a style='color: rgba(246, 248, 250, 0.644)' href="mailto:ben.m.newell@gmail.com"><i id="mail" class="fa fa-3x fa-envelope "></i></a>
              </div> --}}
            {{!-- </div>
          </div>
        </div>
      </div> --}}
    {{!-- </header> --}}