<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Bens.Work</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
  <script src="https://unpkg.com/feather-icons"></script>
    <link rel="stylesheet" href="vendor/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="vendor/simple-line-icons/css/simple-line-icons.css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="stylesheets/new-age.min.css" rel="stylesheet">
  </head>
  <body id='home'>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <img src="../images/LiftLogo.png" alt="">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#intro" style='font-weight: bold; font-size: 15px;'>HOME</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" style='font-size: 15px; font-weight: bold' href="#services">SERVICES</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" style='font-size: 15px; font-weight: bold' href="#about">ABOUT US</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" style='font-size: 15px; font-weight: bold' href="#contact">CONTACT</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" style='font-size: 15px; font-weight: bold' href="https://benmnewell.wixsite.com/website">SCHEDULE</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <section class='fade-scroll' display='block' id='intro'>
      <div style='justify-content: center' class="container">
        <div style='justify-content: center;' class="row">
        </div>
        <br>
        <br>
        <br>
        <div>
          <h1 id='title' style='color: #1B1B1E'>
            YOUR
            <br>
            INSIGHTS
          </h1>
          <div style='width: 52vw; border-top: solid; border-color: white;'>
          </div>
          <h1 id='title'>
            DELIVERING
            <br>
            RESULTS
          </h1>
          <h3 id='titleSubTop'>
            MISSION | PROVIDE LIFT<br><br>
          </h3>
          <div href="#about" class='row'>
            <button  onClick='showNewToAnalytics()'style="font-size: 12px" type="button" class="btn btn-light">New to Data/Analytics?</button>
          </div>
          <div class='row' style='height: 10px'>
          </div>
          <div class='row'>
            <button onClick= 'showTableau()' style="color: rgb(46, 185, 46)" type="button" class="btn btn-light">Tableau</button>
          <div style='width: 10px'>
          </div>
            <button onClick= 'showOracle()' style="color: red" type="button" class="btn btn-dark">Oracle</button>
          </div>
        </div>
        <br>
        <div style='justify-content: center' class="row">
          <div class="col-4">
          </div>
        </div>
      </div>
    </section>
    <div style='border-top: solid; border-color: white;'>
    </div>
    <section class='fade-scroll' style='display: none' id='newToAnalytics'>
      <div style='justify-content: center' class="container">
        <div style='justify-content: center;' class="row">
        </div>
        <br>
        <br>
        <br> 
        <div>
          <h1 id='title' style='color: #1B1B1E'>
            NEW TO ANALYTICS
          </h1>
        </div>
        <div class="container marketing">

        <!-- Three columns of text below the carousel -->
        <div class="row">
          <div class="col-lg-1">
          </div>
          <div class="col-lg-2">
            <div class=''>
              <i  class="fa fa-file-text fa-3x"></i>&nbsp;&nbsp;
            </div>
            <h3>1. Data Sources</h3>
            <p>Data is the most important asset for businesses today. Whether you are pointing to text files, excel, SQL databases, NoSQL databases, API we are here to help. </p>
            <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
          </div>
          <div class="col-lg-2">
            <div class=''>
              <i  class="fa fa-database fa-3x"></i>
            </div>
            <h3>2. Data Storage</h3>
            <p>Once the important data is identified and connected, identify a solution to house that data for easy access and manipulation.</p>
            <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
          </div>
          <div class="col-lg-2">
            <div class=''>
              <i  class="fa fa-filter fa-3x"></i>
            </div>            
            <h3>3. Data Prep</h3>
            <p>Not all data sources are formatted to perfection. There are plenty of tools out there to extract, transform, and load your data in perfect form.  </p>
            <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
          </div>
          <div class="col-lg-2">
            <div class=''>
              <i  class="fa fa-bar-chart fa-3x"></i>&nbsp;&nbsp;
              <i  class="fa fa-pie-chart fa-3x"></i>
            </div>           
            <h3>4. Data Visualization</h3>
            <p>The human mind does not easily consume data in a table. Pull out KPIs and visually represent it. LiftKC uses cutting edge data visualization tools to create, automate, and present data on the fly and in a professional manner.</p>
            <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
          </div>
          <div class="col-lg-2">
            <div class=''>
              <i  class="fa fa-users fa-3x"></i>&nbsp;&nbsp;
            </div>            
            <h3>5. Distribution</h3>
            <p>Keep your end users in mind by putting distribution methods in place early. LiftKC will help you utilize Oracle, Tableau, or custom websites to give your customers insights on demand.</p>
            <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
          </div>
          <div class="col-lg-1">
          </div>
        </div>

      </div>
        <br>
      </div>
    </section>

    <div style='border-top: solid; border-color: white;'>
    </div>
    <section style='display: none; background-color: rgba(117, 226, 117, 0.685);'
    class='fade-scroll' id='Tableau'>
          <div style='justify-content: center' class="container">
        <div style='justify-content: center;' class="row">
        </div>
        <br>
        <br>
        <br> 
        <div>
          <h1 id='title' style='color: #1B1B1E'>
            TABLEAU
          </h1>
        </div>
        <div class="container marketing">

        <!-- Three columns of text below the carousel -->
        <div class="row">
          <div class="col-lg-1">
          </div>
          <div class="col-lg-2">
            <div class=''>
              <i  class="fa fa-file-text fa-3x"></i>&nbsp;&nbsp;
            </div>
            <h3>1. Data Sources</h3>
            <p>Data is the most important asset for businesses today. Whether you are pointing to text files, excel, SQL databases, NoSQL databases, API we are here to help. </p>
            <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
          </div>
          <div class="col-lg-2">
            <div class=''>
              <i  class="fa fa-database fa-3x"></i>
            </div>
            <h3>2. Data Storage</h3>
            <p>Once the important data is identified and connected, identify a solution to house that data for easy access and manipulation.</p>
            <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
          </div>
          <div class="col-lg-2">
            <div class=''>
              <i  class="fa fa-filter fa-3x"></i>
            </div>            
            <h3>3. Data Prep</h3>
            <p>Not all data sources are formatted to perfection. There are plenty of tools out there to extract, transform, and load your data in perfect form.  </p>
            <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
          </div>
          <div class="col-lg-2">
            <div class=''>
              <i  class="fa fa-bar-chart fa-3x"></i>&nbsp;&nbsp;
              <i  class="fa fa-pie-chart fa-3x"></i>
            </div>           
            <h3>4. Data Visualization</h3>
            <p>The human mind does not easily consume data in a table. Pull out KPIs and visually represent it. LiftKC uses cutting edge data visualization tools to create, automate, and present data on the fly and in a professional manner.</p>
            <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
          </div>
          <div class="col-lg-2">
            <div class=''>
              <i  class="fa fa-users fa-3x"></i>&nbsp;&nbsp;
            </div>            
            <h3>5. Distribution</h3>
            <p>Keep your end users in mind by putting distribution methods in place early. LiftKC will help you utilize Oracle, Tableau, or custom websites to give your customers insights on demand.</p>
            <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
          </div>
          <div class="col-lg-1">
          </div>
        </div>

      </div>
        <br>
      </div>
    </section>
    <div style='border-top: solid; border-color: white;'>
    </div>    
    <section style='display: none; background-color: rgba(224, 80, 80, 0.671);'
    class='fade-scroll' id='Oracle'>
          <div style='justify-content: center' class="container">
        <div style='justify-content: center;' class="row">
        </div>
        <br>
        <br>
        <br> 
        <div>
          <h1 id='title' style='color: #1B1B1E'>
            ORACLE
          </h1>
        </div>
        <div class="container marketing">

        <!-- Three columns of text below the carousel -->
        <div class="row">
          <div class="col-lg-1">
          </div>
          <div class="col-lg-2">
            <div class=''>
              <i  class="fa fa-file-text fa-3x"></i>&nbsp;&nbsp;
            </div>
            <h3>1. Data Sources</h3>
            <p>Data is the most important asset for businesses today. Whether you are pointing to text files, excel, SQL databases, NoSQL databases, API we are here to help. </p>
            <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
          </div>
          <div class="col-lg-2">
            <div class=''>
              <i  class="fa fa-database fa-3x"></i>
            </div>
            <h3>2. Data Storage</h3>
            <p>Once the important data is identified and connected, identify a solution to house that data for easy access and manipulation.</p>
            <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
          </div>
          <div class="col-lg-2">
            <div class=''>
              <i  class="fa fa-filter fa-3x"></i>
            </div>            
            <h3>3. Data Prep</h3>
            <p>Not all data sources are formatted to perfection. There are plenty of tools out there to extract, transform, and load your data in perfect form.  </p>
            <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
          </div>
          <div class="col-lg-2">
            <div class=''>
              <i  class="fa fa-bar-chart fa-3x"></i>&nbsp;&nbsp;
              <i  class="fa fa-pie-chart fa-3x"></i>
            </div>           
            <h3>4. Data Visualization</h3>
            <p>The human mind does not easily consume data in a table. Pull out KPIs and visually represent it. LiftKC uses cutting edge data visualization tools to create, automate, and present data on the fly and in a professional manner.</p>
            <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
          </div>
          <div class="col-lg-2">
            <div class=''>
              <i  class="fa fa-users fa-3x"></i>&nbsp;&nbsp;
            </div>            
            <h3>5. Distribution</h3>
            <p>Keep your end users in mind by putting distribution methods in place early. LiftKC will help you utilize Oracle, Tableau, or custom websites to give your customers insights on demand.</p>
            <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
          </div>
          <div class="col-lg-1">
          </div>
        </div>

      </div>
        <br>
      </div>
    </section>
    <div style='border-top: solid; border-color: white;'>
    </div>
    <section class='fade-scroll' display='block' id='about'>
      <div style='justify-content: center' class="container">
        <div style='justify-content: center;' class="row">
        </div>
        <br>
        <br>
        <br> 
        <div>
          <h1 id='title' style='color: #1B1B1E'>
            TEAM LIFT
          </h1>
          <div style='width: 52vw; border-top: solid; border-color: white;'>
          </div>
          <h1 id='title'>
            WHO WE ARE
          </h1>
          </dir>
        </div>
        <br>
        <div class='row'>
          <div class="col">
            <div class='row'>
              <div class="col">
                <img style='height: 210px' src='../images/bens.png'>
              </div>
              <div style='color: white'class="col">
                <p style='font-weight: bold'>
                  Ben Newell, MBA
                </p>
                <p style='font-weight: bold; color: #1B1B1E'>  
                  President / Product Development
                </p>
                <p>
                  Ben completed his MBA at Rockhurst University (AACSB). He has focused his time and effort on Business Intelligence. Acquiring  best practices from two  well known entities in Kansas City.
                </p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class='row'>
              <div class="col">
                <img src='../images/zach.PNG'>
              </div>
              <div style='color: white'class="col">
                <p style='font-weight: bold'>
                  Zach Newell, MBA
                </p>
                <p style='font-weight: bold; color: #1B1B1E'>   
                  VP of Automation
                </p>
                <p>
                  Zach brings a sound VBA and BI background to the team with over 4 years of dashboard development and automation experience. He also completed his MBA at Rockhurst University (AACSB).
                </p>
              </div>
            </div>
          </div>
          
        </div>
        <div style='justify-content: center' class="row">
          <div class="col-4">
          </div>
        </div>
      </div>
    </section>
    <div style='border-top: solid; border-color: white;'>
    </div>
    <footer>     
      <div class="container">
        <p>&copy; Created by Lift LLC. All Rights Reserved.</p>
        <p>Address: 905 McGee St. #289, Kansas City, MO 64106</p>
        <p>Phone: (913) 297-9239</p>
        <p>Email: sales@liftkc.com</p>
      </div>
    </footer>


    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="javascripts/new-age.min.js"></script>
    <script src="javascripts/navigation.js"></script>

    <!-- Check images before project page gets rendered! -->
    <script>
      feather.replace()
    </script>
    <script class="js">
    </script>
  </body>

</html>

{{!-- Save for refrence --}}

    {{!-- <header class="masthead">
      <div class="container h-100">
        <div class="row h-100">
          <div class="col-lg-7 my-auto">
            <div class="header-content mx-auto"> --}}
              {{!-- <img class="img-circle" src="https://media.licdn.com/dms/image/C5603AQH3bf6tVzfzDA/profile-displayphoto-shrink_200_200/0?e=1535587200&v=beta&t=Uu8k1tREG6TC4vTSwdXqjckCXa0Jp49KqSpe00IFujU" alt=""></img>
              <div class="social">
                <br>
                <a style='color: rgba(246, 248, 250, 0.644)' href="https://www.linkedin.com/in/ben-newell-mba/"><i id="linkedin" class="fa fa-3x fa-linkedin"></i></a>
                <a style='color: rgba(246, 248, 250, 0.644)' href="https://github.com/BenNewell32"><i id="github" class="fa fa-3x fa-github"></i></a>
                <a style='color: rgba(246, 248, 250, 0.644)' href=""><i id="twitter" class="fa fa-3x fa-twitch"></i></a>
                <a style='color: rgba(246, 248, 250, 0.644)' href="mailto:ben.m.newell@gmail.com"><i id="mail" class="fa fa-3x fa-envelope "></i></a>
              </div> --}}
            {{!-- </div>
          </div>
        </div>
      </div> --}}
    {{!-- </header> --}}