<html lang="en">

  <head>

    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>Ben and Yana Pickleball</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Custom fonts for this template -->
    <script src="https://unpkg.com/feather-icons"></script>
    <link
      rel="stylesheet"
      href="vendor/font-awesome/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      href="vendor/simple-line-icons/css/simple-line-icons.css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Lato"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Muli"
      rel="stylesheet"
    />

    <!-- Custom styles for this template -->
    <link href="stylesheets/new-age.min.css" rel="stylesheet" />
  </head>
  <body id="home">
    <header>
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="#">Carousel</a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarCollapse"
          aria-controls="navbarCollapse"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home
                <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#">Disabled</a>
            </li>
          </ul>
          <form class="form-inline mt-2 mt-md-0">
            <input
              class="form-control mr-sm-2"
              type="text"
              placeholder="Search"
              aria-label="Search"
            />
            <button
              class="btn btn-outline-success my-2 my-sm-0"
              type="submit"
            >Search</button>
          </form>
        </div>
      </nav>
    </header>
    <main role="main">
      </main>
      </br>
      <section class="jumbotron text-center">
        <div class="container">
          <h1 class="jumbotron-heading">Album example</h1>
          <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don't simply skip over it entirely.</p>
          <p>
            <a href="#" class="btn btn-primary my-2">Main call to action</a>
            <a href="#" class="btn btn-secondary my-2">Secondary action</a>
          </p>
        </div>
      </section>
      <div class="row">
      <div id='yanasection'  class="col-md-6">
        <div class="card mb-4 box-shadow rounded">
          <img
          id="yana"
            class="card-img-top rounded"
            style="height: 30vh; width: 100%; display: block;"
            
          />
          <div class="card-body">
            <h1 class="jumbotron-heading">Yana Grechkina</h1>
            <p class="card-text">PPA Touring Pro</p>
            <div class="d-flex justify-content-between align-items-center">
                <button
                  type="button"
                  class="btn btn-sm btn-primary"
                >Lessons</button>
                <button
                  type="button"
                  class="btn btn-sm btn-success"
                >Sponsors</button>
                <button
                  type="button"
                  class="btn btn-sm btn-secondary"
                >About</button>
            </div>
            </br>
            <ul class="list-group mb-3">
            <li class="list-group-item d-flex justify-content-between lh-condensed">
              <div>
                <h6 class="my-0">Highest PPA </br> Doubles</h6>
                {{!-- <small class="text-muted">Brief description</small> --}}
              </div>
              <span class="font-weight-bold">9th</span>
            </li>
            <li class="list-group-item d-flex justify-content-between lh-condensed">
              <div>
                <h6 class="my-0">Highest PPA </br>Singles</h6>
                {{!-- <small class="text-muted">Brief description</small> --}}
              </div>
              <span class="font-weight-bold">10th</span>
            </li>
            <li class="list-group-item d-flex justify-content-between lh-condensed">
              <div>
                <h6 class="my-0">Highest PPA </br>Mixed</h6>
                {{!-- <small class="text-muted">Brief description</small> --}}
              </div>
              <span class="font-weight-bold">16th</span>
            </li>
                        <li class="list-group-item d-flex justify-content-between lh-condensed">
              <div>
                <h6 class="my-0">DUPR </br>Doubles</h6>
                {{!-- <small class="text-muted">Brief description</small> --}}
              </div>
              <span class="font-weight-bold">8.24</span>
            </li>
                        <li class="list-group-item d-flex justify-content-between lh-condensed">
              <div>
                <h6 class="my-0">DUPR </br>Singles</h6>
                {{!-- <small class="text-muted">Brief description</small> --}}
              </div>
              <span class="font-weight-bold">6.66</span>
            </li>
          </ul>
          </div>
        </div>
      </div>
      <div id='bensection' class="col-md-6">
        <div class="card mb-4 box-shadow rounded">
          <img
          id="ben"
            class="card-img-top rounded"
            style="height: 30vh; width: 100%; display: block;"
            
          />
          <div class="card-body">
            <h1 class="jumbotron-heading">Ben Newell</h1>
            <p class="card-text">PPA Touring Pro</p>
            <div class="d-flex justify-content-between align-items-center">
                <button
                  type="button"
                  class="btn btn-sm btn-primary"
                >Lessons</button>
                <button
                  type="button"
                  class="btn btn-sm btn-success"
                >Sponsors</button>
                <button
                  type="button"
                  class="btn btn-sm btn-secondary"
                >About</button>
            </div>
            </br>
            <ul class="list-group mb-3">
            <li class="list-group-item d-flex justify-content-between lh-condensed">
              <div>
                <h6 class="my-0">Highest PPA </br> Doubles</h6>
                {{!-- <small class="text-muted">Brief description</small> --}}
              </div>
              <span class="font-weight-bold">17th</span>
            </li>
            <li class="list-group-item d-flex justify-content-between lh-condensed">
              <div>
                <h6 class="my-0">Highest PPA </br>Singles</h6>
                {{!-- <small class="text-muted">Brief description</small> --}}
              </div>
              <span class="font-weight-bold">27th</span>
            </li>
            <li class="list-group-item d-flex justify-content-between lh-condensed">
              <div>
                <h6 class="my-0">Highest PPA </br>Mixed</h6>
                {{!-- <small class="text-muted">Brief description</small> --}}
              </div>
              <span class="font-weight-bold">51st</span>
            </li>
                        <li class="list-group-item d-flex justify-content-between lh-condensed">
              <div>
                <h6 class="my-0">DUPR </br>Doubles</h6>
                {{!-- <small class="text-muted">Brief description</small> --}}
              </div>
              <span class="font-weight-bold">6.24</span>
            </li>
                        <li class="list-group-item d-flex justify-content-between lh-condensed">
              <div>
                <h6 class="my-0">DUPR </br>Singles</h6>
                {{!-- <small class="text-muted">Brief description</small> --}}
              </div>
              <span class="font-weight-bold">6.66</span>
            </li>
          </ul>
          </div>
        </div>
      </div>
      </div>
      <!-- FOOTER -->
      <footer class="container">
        <p class="float-right"><a href="#">Back to top</a></p>
        <p>© 2017-2018 Company, Inc. ·
          <a href="#">Privacy</a>
          ·
          <a href="#">Terms</a></p>
      </footer>
    </main>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="javascripts/new-age.min.js"></script>
    <script src="javascripts/navigation.js"></script>

    <!-- Check images before project page gets rendered! -->
    <script>
      feather.replace()
    </script>
    <script class="js">
    </script>
  </body>

</html>