<html lang="en">

  <head>

    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>Ben and Yana Pickleball</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Custom fonts for this template -->
    <script src="https://unpkg.com/feather-icons"></script>
    <link
      rel="stylesheet"
      href="vendor/font-awesome/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      href="vendor/simple-line-icons/css/simple-line-icons.css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Lato"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Muli"
      rel="stylesheet"
    />

    <!-- Custom styles for this template -->
    <link href="stylesheets/new-age.min.css" rel="stylesheet" />
  </head>
  <body id="home">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <img width="20%" height="20%" src="../images/NewLiftSVG.svg" alt="" />
        <button
          class="navbar-toggler navbar-toggler-right"
          type="button"
          data-toggle="collapse"
          data-target="#navbarResponsive"
          aria-controls="navbarResponsive"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          Menu
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a
                class="nav-link js-scroll-trigger"
                href="#intro"
                style="font-weight: bold; font-size: 15px;"
              >HOME</a>
            </li>
            <li class="nav-item">
              <a
                class="nav-link js-scroll-trigger"
                style="font-size: 15px; font-weight: bold"
                href="#titleSubTop"
              >ABOUT US</a>
            </li>
            {{! <li class="nav-item">
              <a class="nav-link js-scroll-trigger" style='font-size: 15px; font-weight: bold' href="/liftinsights">PRODUCTS</a>
            </li> }}
            <li class="nav-item">
              <a
                class="nav-link js-scroll-trigger"
                style="font-size: 15px; font-weight: bold;"
                href="#about"
              >LESSONS</a>
            </li>
            <li class="nav-item">
              <a
                class="nav-link js-scroll-trigger"
                style="font-size: 15px; font-weight: bold"
                href="#contact"
              >FOLLOW US</a>
            </li>
            <li class="nav-item">
              <a
                class="nav-link js-scroll-trigger"
                style="font-size: 15px; font-weight: bold"
                href="https://benmnewell.wixsite.com/website"
              >CONTACT</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <section id="intro" class="fade-scroll" display="block">
      <div style="justify-content: center" class="container">
        <div style="justify-content: center;" class="row">
        </div>
        <br />
        <br />
        <br />
        <div>
          <h1 id="title" style="color: #1B1B1E">
            <img
              id="yana"
              style="height:100px; width: 100px; border-radius: 70%; border: 10px solid white;"
            />

            Yana Newell

            <br />
            <img
              id="ben"
              style="height:100px; width: 100px; border-radius: 70%; border: 10px solid white;"
            />

            Ben Newell

          </h1>
          <br />
          <div style="width: 52vw; border-top: solid; border-color: white;">
            <br />
          </div>
          <h1 id="title">
            PPA Touring Pros
            <br />

          </h1>
          <h3 id="titleSubTop">
            PUSH YOURSELF | EMBRACE IT
          </h3>
          <br /><br />
          <div href="#about" class="row">
            <button
              onClick="showNewToAnalytics()"
              style="font-size:15px; height: 50px; width:300px"
              type="button"
              class="btn btn-block btn-light"
            >Book Lessons! <i class="fa fa-calendar-check-o"></i></button>
          </div>&nbsp;
          <div class="row">
            <button
              onClick="showTableau()"
              style="font-size:15px; height: 50px; width:300px"
              type="button"
              class="btn btn-lg btn-block btn-light"
            >Sponsors! <i class="fa fa-handshake-o"></i></button>
            <div id="oracleButton" style="height: 10px"></div>
            <br /><br /><br />
            <button
              onClick="showOracle()"
              style="font-size:15px; height: 50px; width:300px"
              type="button"
              class="btn btn-lg btn-block btn-dark"
            >Follow us! <i class="fa fa-instagram"></i></button>

          </div>
        </div>
        <br />
        <div style="justify-content: center" class="row">
          <div class="col-4">
          </div>
        </div>
      </div>
    </section>

    <div style="border-top: solid; border-color: white;">
    </div>

    <footer>
      <div id="contact" class="container">
        <p>&copy; Created by Lift LLC. All Rights Reserved.</p>
        <p>No affiliation with Tableau or Oracle.</p>
        <br />
        <h5 style="color: white">Contact Us</h5>
        <p>(785) 633-5715 </p><p>(texting only)</p>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="javascripts/new-age.min.js"></script>
    <script src="javascripts/navigation.js"></script>

    <!-- Check images before project page gets rendered! -->
    <script>
      feather.replace()
    </script>
    <script class="js">
    </script>
  </body>

</html>