<html lang="en">

  <head>

    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>Ben and Yana Pickleball</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Custom fonts for this template -->
    <script src="https://unpkg.com/feather-icons"></script>
    <link
      rel="stylesheet"
      href="vendor/font-awesome/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      href="vendor/simple-line-icons/css/simple-line-icons.css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Lato"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Muli"
      rel="stylesheet"
    />

    <!-- Custom styles for this template -->
    <link href="stylesheets/new-age.min.css" rel="stylesheet" />
  </head>
  <body id="home">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="">
        <img width="20%" height="20%" src="../images/NewLiftSVG.svg" alt="" />
        <button
          class="navbar-toggler navbar-toggler-right"
          type="button"
          data-toggle="collapse"
          data-target="#navbarResponsive"
          aria-controls="navbarResponsive"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          Menu
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a
                class="nav-link js-scroll-trigger"
                href="#intro"
                style="font-weight: bold; font-size: 15px;"
              >HOME</a>
            </li>
            <li class="nav-item">
              <a
                class="nav-link js-scroll-trigger"
                style="font-size: 15px; font-weight: bold"
                href="#titleSubTop"
              >ABOUT US</a>
            </li>
            {{! <li class="nav-item">
              <a class="nav-link js-scroll-trigger" style='font-size: 15px; font-weight: bold' href="/liftinsights">PRODUCTS</a>
            </li> }}
            <li class="nav-item">
              <a
                class="nav-link js-scroll-trigger"
                style="font-size: 15px; font-weight: bold;"
                href="#about"
              >LESSONS</a>
            </li>
            <li class="nav-item">
              <a
                class="nav-link js-scroll-trigger"
                style="font-size: 15px; font-weight: bold"
                href="#contact"
              >FOLLOW US</a>
            </li>
            <li class="nav-item">
              <a
                class="nav-link js-scroll-trigger"
                style="font-size: 15px; font-weight: bold"
                href="https://benmnewell.wixsite.com/website"
              >CONTACT</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container">

      <div class="card-profile">
        <div
          class="card-profile_visual"
          style='  background: url("../images/yana3.jpg") no-repeat center center/cover; filter: grayscale(30%);'
        ></div>

        <div class="card-profile_user-infos">
          <span class="infos_name">Yana (Grechkina) Newell</span>
          <span class="infos_nick"></span>

          <a href="#"></a>
        </div>

        <div class="card-profile_user-stats">
          <div class="stats-holder">
            <div class="user-stats">
              <strong>Highest PPA </br>Doubles</strong>
              <span>16</span>
            </div>
            <div class="user-stats">
              <strong>Highest PPA </br>Mixed </strong>
              <span>14</span>
            </div>
            <div class="user-stats">
              <strong>Highest PPA </br>Singles </strong>
              <span>10</span>
            </div>
            <div class="user-stats">
              <strong>DUPR </br>Doubles</strong>
              <span>5.83</span>
            </div>
            <div class="user-stats">
              <strong>DUPR </br>Singles</strong>
              <span>5.70</span>
            </div>
          </div>
        </div>

      </div>

    </div>

    <div class="container">

      <div class="card-profile">
        <div
          class="card-profile_visual"
          style='  background: url("../images/ben3.jpg") no-repeat center center/cover;  filter: grayscale(30%);'
        ></div>

        <div class="card-profile_user-infos">
          <span class="infos_name">Ben Newell</span>
          <span class="infos_nick"></span>

          <a href="#"></a>
        </div>

        <div class="card-profile_user-stats">
          <div class="stats-holder">
            <div class="user-stats">
              <strong>Highest PPA </br>Doubles</strong>
              <span>17</span>
            </div>
            <div class="user-stats">
              <strong>Highest PPA </br>Mixed </strong>
              <span>17</span>
            </div>
            <div class="user-stats">
              <strong>Highest PPA </br>Singles </strong>
              <span>27</span>
            </div>
            <div class="user-stats">
              <strong>DUPR </br>Doubles</strong>
              <span>6.24</span>
            </div>
            <div class="user-stats">
              <strong>DUPR </br>Singles</strong>
              <span>6.66</span>
            </div>
          </div>
        </div>

      </div>

    </div>

    <div style="border-top: solid; border-color: white;">
    </div>

    <footer>
      <div id="contact" class="container">
        <p>&copy; Created by Lift LLC. All Rights Reserved.</p>
        <p>No affiliation with Tableau or Oracle.</p>
        <br />
        <h5 style="color: white">Contact Us</h5>
        <p>(785) 633-5715 </p><p>(texting only)</p>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="javascripts/new-age.min.js"></script>
    <script src="javascripts/navigation.js"></script>

    <!-- Check images before project page gets rendered! -->
    <script>
      feather.replace()
    </script>
    <script class="js">
    </script>
  </body>

</html>