body {
  max-width: 600px;
}
header {
  max-width: 601px;
}
#ben {
  background-image: url("../images/ben3.jpg");
  background-repeat: no-repeat;
  background-position: center; /* Center the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}
#yana {
  background-image: url("../images/yana3.jpg");
  background-repeat: no-repeat;
  background-position: center; /* Center the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}
